<div class="form-group">
  <label class="control-label col-md-2">Name </label>
  <div class="col-md-3">
      <input type="text" class="form-control" ng-model="category.name" placeholder="Ahmedabad"/>
  </div>
  <label class="control-label col-md-2">Type </label>
  <div class="col-md-3">
      <input type="text" class="form-control" ng-model="category.type" placeholder="Gujarat"/>
  </div>

  <label class="control-label col-md-2">Author </label>
  <div class="col-md-3">
      <input type="text" class="form-control" ng-model="category.author" placeholder="Gujarat"/>
  </div>
</div>
